{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'roll.css' %}">
    <title>Roll Number</title>
</head>
<body>
    <!-- <form method="POST">
    {% csrf_token %}
    <input type="text" name="roll">
    <input type="submit">
    </form> -->
    <div class="login-page">
    <div class="form">
    <form method="POST" class="login-form">
        {% csrf_token %}
        <input type="text" name="roll" placeholder="Roll Number"/>
        <label>
            <input type="submit">
            <button type="submit"> Submit</button>
            <!-- Submit -->
        </label>
        <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
    </form>
    </div>
    </div>
    <script>
        $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
        });
    </script>
</body>
</html>
